<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/biscuits/">Biscuits</a>
    <a href="/cake/">Cake</a>
    <a href="/pie/">Pie</a>
    <a href="/pudding/">Pudding</a>
    <a href="/tart/">Tart</a>
</nav>
<h1>{{ page.title }}</h1>
<section>
    {{ content }}
</section>
<footer>
    &copy; 2024 Dillon Diego Pillay
</footer>
</body>
</html>